* { box-sizing: border-box; }
/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {    
        
}
.element-item:hover {
    cursor: pointer;
}
.element-item > * {
}

.element-item .name {
}

.element-item .symbol {
}
.element-item .symbol img {
}

.element-item .number {
}

.element-item .weight {
}
.element-item .number a {
}

.element-item .number a:hover {
}

/* SELECTED ITEMS */
.element-item.selected {
}
.element-item.selected .number {
}
.element-item.selected .weight {
}





/* TEST CSS - MAY CHANGE (like we all) */
#software {
}

#sidebar {
}

#sidebar button {
}
#sidebar a {
}

legend {
}

input, label {
}

main {
}

footer {
}

.checkbox {
}

.checkbox:before {
}

.checkbox:checked:before {
}

.checkbox:after {
}

#sidebar small {
}














































































/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
@media only screen and (min-width: 35em) {
}